* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "roboto"
    
}

.container {
    /* margin-top: 40px; */
}

/* Estilos del encabezado */
header {
    background-color: #fff700;
    color: #fff;
    padding: 15px;
    height: 21vw;
   
}

.hamburguer-button {
    background-color: blueviolet;
    color: white;
    display: block;
    width: 10%;
    height: 60%;
    border-radius: 8px;
    text-align: center;
    font-size: 6vw;
    position: relative;
    left:0.5vw;
    top:1.5vw;
}

.logo{
    width: 21%;
    position: relative;
    left:2vw;
}

.hamburguesa-logo-buscar{
    display:contents;
}
/* .bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
} */

 /* #search-form {
    display: flex;
    align-items: center;
    position: relative;
    left:1.5vw;

}  */

#buscador {
    padding: 5px;
    border: 15px;
    border-radius: 5px;
    width: 44vw;
    height: 7.5vw;
    font-size: 3vw;
    position: relative;
    left:4.5vw;
    top:2.5vw;
   
}

button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    height: 7.5vw;
    font-size: 3vw;
    position: relative;
    left: 2vw;
    top:2.5vw;
}

.main-navbar{
    display:none;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

/* Estilos del contenido principal */
main {
    padding: 20px;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer img {
    max-width: 100%;
    height: auto;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer li {
    margin: 0 10px;
}

footer a {
    text-decoration: none;
    color: #fff;
}

/* Estilos de las cajas de productos (utilizando Bootstrap) */
.col-md-4 {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/*Estilos específicos para las cajas de productos según tus necesidades */
 @media (min-width: 481px) {

header {
        height: 26vw;
        
    }

.hamburguer-button {
        display: none;
    }

.logo{
        width: 26%;
        position: relative;
        
        bottom: 1vw;
    }

#buscador {
    padding: 5px;
    border: 15px;
    border-radius: 5px;
    width: 50vw;
    height: 7.5vw;
    font-size: 3vw;
    position: relative;
    left:6vw;
    top:4vw;
   
}

button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    height: 7.5vw;
    font-size: 3vw;
    position: relative;
    left: 4vw;
    top:4vw;
}

.main-navbar {
    display: flex;
    justify-content:center;
}

.main-navbar ul{
    display:flex;
    justify-content:center;
}

.navbar{
    position:relative;
    left: 8vw;
}

.navbar li{
    margin-right: 5vw;
    margin-left: 5vw;
}
   
        
}
 
@media (min-width: 768px) {

    header {
            height: 23vw;
            
        }
    
    .hamburguer-button {
            display: none;
        }
    
    .logo{
            width: 24%;
            position: relative;
            
            bottom: 1vw;
        }
    
    #buscador {
        padding: 5px;
        border: 15px;
        border-radius: 5px;
        width: 50vw;
        height: 6vw;
        font-size: 3vw;
        position: relative;
        left:6vw;
        top:4vw;
       
    }
    
    button[type="submit"] {
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        margin-left: 5px;
        cursor: pointer;
        height: 6vw;
        font-size: 3vw;
        position: relative;
        left: 4vw;
        top:4vw;
    }
    
    .main-navbar {
        display: flex;
        justify-content:center;
    }
    
    .main-navbar ul{
        display:flex;
        justify-content:center;
    }
    
    .navbar{
        position:relative;
        left: 8vw;
    }
    
    .navbar li{
        padding-top:1vw;
        margin-right: 5vw;
        margin-left: 5vw;
    }
    .navbar a{
        
        font-size: 3vw;  
    }    
}