<footer>
    <p class="footer-titulo">Información de contacto</p>
    <div>
    
    <p class="footer-descripcion"> Para considerar a un perfume de buena calidad, debe de cumplir con determinadas características como: 
        adhesión, residualidad, debe ser intenso, difuso, con persistencia, etc. Palabras clave: Fragancia,
        olfato, difuso, persistente, volatilidad, intenso, sustantividad, residualidad, notas olfativas.</p>
    </div>

    <img src="/img/Logo-Perfumes.png" alt="Imagen de contacto">
    <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Instagram</a></li>
    </ul>
</footer>
