<header>
    <div class="contenedor-1">
    <div class="logo-hamburguesa">
        <a href="#" class="hamburguer-button"> <i class="fa-solid fa-bars"></i> </a>
       <img class="logo"src="/img/Logo-Perfumes.png" alt="Logo de la página">
    </div>

    <div class="buscar-boton">
        <form action="tu_script_de_busqueda.php" method="GET">
            <input class="input-buscar" type="text" name="q" placeholder="Busca tu perfume...">
            <button class="boton-buscar" type="submit">Buscar</button>
        </form>
    </div>
    </div>
</header>