<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detalle productos</title>
</head>
<body>
    <h1>aqui se va a mostrar el detalle de un producto</h1>
</body>
</html>